.women {
    background-image: url("./images/women.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 4/3;
}

.men {
    background-image: url("./images/men.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 4/3;
}

.kids {
    background-image: url("./images/kids.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 4/3;
}

#bagsCollection {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-1.jpg");
    background-size: cover;
    background-position: center;
}

#printedShirtsCollection {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-2.jpg");
    background-size: cover;
    background-position: center;
}

#dressesCollection {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-3.jpg");
    background-size: cover;
    background-position: center;
}

#sweatShirtsCollection {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-4.jpg");
    background-size: cover;
    background-position: center;
}